/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0!important;
  background-color: blue;
  padding: 0;
}
// .buceta {
//   background-color: red;
// }
.text-right {
 text-align: right!important;
}
.text-center {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, $overlay-opacity);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 100px;
}
.main-content {
  overflow-y: auto;
}
.fill-remaining-space {
  flex: 1 1 auto;
}

.text-right {
  text-align: right;
}
.content-center {
  display: flex;
  justify-content: center;
  direction: column;
}
.content-right {
  justify-content: flex-end;
}

.padding {
  padding: $padding;
}
.padding-half {
  padding: $padding / 2;
}
.margin {
  margin: $margin;
}
.box-margin {
  margin: 0 $margin $margin $margin;
}
.margin-top-half {
  margin-top: $margin / 2;
}
.margin-bottom {
  margin-bottom: $margin;
}

.margin-bottom-half {
  margin-bottom: $margin / 2;
}

.form-section-title{ 
  margin-top: 20px;
}
.btn-clean {
  border: 0;
  background: none;
  cursor: pointer;

}
.btn-clean:focus {
  outline: 0;
}
.img-rounded {
    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    border: 3px solid #6e7ed3;
}